.page {
  @include flex-align-center;

  width: 100%;
  height: 100dvh;
  gap: 50px;
  background-color: $color_interface_bg;

  &__text {
    @include clear-paragraph;

    font: $font_text;
    color: $color_text_primary_light_text;
  }
}