.light {
  --interface-modal-bg: #8585ad;
  --color-interface-input: #f2f2f3;
  --color-interface-bg: rgb(76 76 255 / 20%);
  --color-text-primary-light-text: black;
  --color-text_dark-grey-text: #8585ads;
}