.additional {
  @include clear-paragraph;

  text-align: center;
  font: $font_text;
  color: $color_text_dark_grey_text;

  &__link {
    @include clear-paragraph;

    margin-left: 10px;
  }
}

.page {
  @include flex-align-center;
  @include page-container;

  &__form {
   margin-top: 180px;
  }

  &__additional {
    margin-top: 80px;
  }
}
